[submodule "bundle/dracula"]
	path = bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = git@github.com:sheerun/vim-polyglot.git
