[submodule "bundle/dracula"]
	path = bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = git@github.com:maksimr/vim-jsbeautify.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/codi.vim"]
	path = bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
